parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	- App\Model\Webinar\WebinarApi
	- App\Model\Webinar\WebinarManager
	- App\Model\Webinar\WebinarDatabase
	- Nette\Caching\Cache
	- App\Model\Report\ReportDatabase